.icon-div img {
    width: 386px;
    border-radius: 50%;
    margin-top: 51px;
}

.about {
    text-align: center;
}

.box-description h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 54px;
    border-bottom: 4px solid var(--wine);
}

.info-contact h3 {
    color: var(--wine);
    font-size: 31px;
    font-family: 'Great Vibes', cursive;
}

.info-contact p {
    font-size: 20px;
}

.description {
    font-size: 25px;
}