.about {
    display: flex;
     width: 100%;
}
@media(max-width: 500px) {
    .about {
        display: grid;
    }
}

.icon-div {
    width: 50%;
    background: var(--maroon);
}
@media(max-width: 500px) {
    .icon-div {
        width: auto;
        background-color: white;
    }
}

.icon-div img {
    width: 100%;
}
@media (max-width: 800px) {
.icon-div img {
    width: 428px;
    height: 533px;
}
}
@media (max-width: 500px) {
    .icon-div img {
        width: 63%;
        border-radius: 149px;
        margin-left: 82px;
        margin-top: 10px;
        height: auto;

    }
}

.box-description {
    width: 50%;

    color: white;
    background: var(--green);
}
@media (max-width: 500px) {
    .box-description {
    width: 425px;
}
}


.box-description h2 {
    font-family: 'Rozha One', serif;
    margin-left: 105px;
    font-size: 43px;
}

.description {
    text-align: center;
    font-size: 18px;
}
@media (max-width: 800px) {
    .description {
    font-size: 16px;
    }
}
@media (max-width: 500px) {
    .description {
        font-size: 18px;
    }
}

.info-contact h3 {
    font-family: 'Rozha One', serif;
    font-size: 19px;
}

.info-contact {
    margin-left: 52px;
}
@media (max-width: 500px) {
    .info-contact {
        padding: 10px;
    }
}