.Home {
    background-color: white;
    padding: 121px;

}

.HomeText {
    font-family: 'Gilda Display', serif;
    color: black;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
 }
 
 a:hover {
     color: #999;
}

button {
    border-radius: 16px;
    padding: 21px;
    background-color: #71963b;
    color: white;
    border: white;
    font-size: 19px;
    font-family: 'Gilda Display', serif;
}