.Home {
    background-color: var(--grey);
    padding: 121px;

}

.HomeText {
    text-align: center;
}

.HomeText h2 {
    font-family: 'Kufam', cursive;
    font-size: 84px;
    border-bottom: 4px solid var(--wine);
    margin-bottom: 4px;
}

.HomeText h3 {
    font-family: 'Kufam', cursive;
    font-size: 70px;
    margin-top: auto;
}


a {
    color: var(--wine);
    text-decoration: none;
 }
 
 a:hover {
     color: #999;
}