.Home {
    background-color: var(--white);
    padding: 121px;

}

.HomeText {
    font-family: 'Rozha One', serif;
    color: black;
    text-align: center;
}

@media (max-width: 500px) {
    .HomeText h2 {
        font-size: 17px;
    }
}

a {
    color: var(--white);
    text-decoration: none;
 }
 
 a:hover {
     color: #999;
}

.btn-about {
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
    border-radius: 50%;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.btn-about:hover {
    background-color: hsla(84, 54%, 49%, 0.856);
    opacity: 1;
}

.btn-about h3 {
    font-size: 15px;
}