header ul {
    margin-right: 150px;
    font-family: 'Rozha One', serif;

}
  @media (max-width: 800px) {
    header ul {
      margin-right: 1px;
    }
}

a:hover {
  color: var(--green);
}

.container {
    padding: 17px;
    background-color: var(--white);
}

