.App ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 21px;
}
@media (max-width: 500px) {
  .App ul {
    font-size: 13px;
  }
}

.App li {
  margin-right: 15px;
}
@media (max-width: 500px) {
  .App li {
    margin-right: 9px;
}
}


:root {
  --white: #F2F2F2;
  --wine: #A63333;
  --green: #01261C;
  --grey: #BFBFBF;
}