.box-contact h2 {
  font-family: 'Rozha One', serif;
  border-bottom: 4px solid #71963b;
  width: 427px;
  margin-top: 230px;
  margin-left: 18px;
  font-size: 23px;
}

.container-social {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}


.redes_sociais {
  font-family: 'Rozha One', serif;
  width: 634px;
}

.redes_sociais div { 
  background-color:#736356;
  color: #fff;
  text-align: center;
  padding: 2rem;
}


.rede-social a {
  color: #fff;
}